.main{
  /* max-width: 1080px; */
  width: 100%;
  height: 780px;
}


.bg-image {
  /* The image used */
  background-image: url("../assets/99.jpg");

  /* Add the blur effect */
  filter: blur(px);
  -webkit-filter: blur(0px);

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  max-width: 1080px;
  margin: 20px auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: rgb(42, 39, 39);
  /* font-weight: bold; */
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}